html{

	text-align: center;
	}



header {

	text-decoration: none;
	background-color: #e28b9e;
	border-radius: 10px;
	position: relative;

}

a {
	text-decoration: none;


}

li {

	list-style: none;
text-decoration: none;
}

nav{
       text-align: center;
}

nav ul{
        list-style: none;
        display: inline-block;
        padding:8px;
}

nav ul li{
         float: left;
         margin-top: 10px;
}

nav ul li a {
         color: black;
         text-decoration: none;
         font-size: 20px;
         padding: 30px;
         text-decoration: none;
         font-size: 25px;
}